:root{
    --font-title: 'Nunito', sans-serif;
    --font-text: 'Roboto', sans-serif;

    --primary:#023047;
    --second: #fa8500;
    --thrid:#ffb703;
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e8e8e8;
}
h1,h2{
    font-family: var(--font-title);
    margin: 0;
}
p{
    font-family: var(--font-text);
    margin: 0;
}

/* Clases */
.fs-7{
    font-size: 14px;
}
